<title>MemoMemo</title>
<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/pygments.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}" type="image/vnd.microsoft.icon">
<!--Login Info-->
<div class=metanav>
{% if not session.logged_in %}
 	<a href="{{ url_for('login') }}">log in</a>
{% else %}
 	<a href="{{ url_for('logout') }}">log out</a>
{% endif %}
</div>
<!--Title-->
<div id="particle-slider">
	<div class="slides">
		<div id="first-slide" class="slide" data-src="{{ url_for('static', filename='png/logo.png') }}?inline"></div>
	</div>
	<canvas class="draw" style="display: none;"></canvas>
	<div id="title-img">
		<img src="{{ url_for('static', filename='png/logo3.png') }}">
	</div>
</div>
<div id="container">
	<div class="toggle">
	  <input type="checkbox" class="particle-switch" />
	  <span class="btn"></span>
	  <span class="labels"></span>
	  <span class="bg"></span>
	</div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/partislide_title.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/cumulus.js') }}"></script>
{% block body %}
{% endblock %}
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
